<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--  OLD Entry for HelloWorld Example -->
	<bean name="/helloworld.htm" class="com.myorg.springmvctutorial.web.controller.HelloWorldController"/> 

	<bean name="/hellovisitor.htm" class="com.myorg.springmvctutorial.web.controller.HelloVisitorController">
		<property name="commandName">
			<value>visitor</value>
		</property>
		
		<property name="commandClass" value="com.myorg.springmvctutorial.web.command.Visitor"></property>
		
		<property name="bindOnNewForm" >
			<value>true</value>
		</property>
	
	
	
	</bean>

</beans>
